.candidate-banner {
  min-height: 22.875rem;
}

.candidate-banner::before {
  background: rgba(0, 0, 0, 0.729);
}

.social-media-icons a::after {
  content: " ";
  position: absolute;
  width: 1.375rem;
  height: 1.375rem;
  background: #fff;
  z-index: -1;
  left: 0.125rem;
  right: 0;
  top: 0.5625rem;
}

.education-period label {
  background: #323232;
  padding: 0.5125rem 1.25rem;
  margin-bottom: 0.625rem;
  display: inline-block;
  font-size: 0.875rem;
  color: #b8b8b8;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
}

.boxes-container p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: theme("colors.gray.dark");
}

.icon-container {
  color: theme("colors.gray.dark");
  font-size: 0.9375rem;
  width: 2.8125rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  text-align: center;
  border: 0.0625rem solid theme("colors.white.40");
  border-radius: 0.25rem;
}

.contact-employer textarea,
.contact-employer input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: theme("colors.black.10");
  border: 0.0625rem solid theme("colors.white.30");
  border-radius: 0.25rem;
  margin-bottom: 0.9375rem;
}

.progress {
  transition: width 1s ease-in-out;
}
